#calculator_box{
    height: 770px;
    width: 400px;
    background-color: blueviolet;
    border-radius: 10px;
    border: 2px solid black;

}
#screen_box{
    height: 80px;
    width: 350px; 
    background-color:blue;
    border-radius: 10px;
    margin: 20px;
    border: 2px solid black;
    font-size: 50px;
}
.allKeys{
    display: flex;
    margin: 10px 20px;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    height: 600px;
    border: 2px solid black;
    align-items: center;
}

.keys{
    height: 90px;
    width: 90px;
    margin: 5px;
    font-size: 20px;
}